/*--BAT3 APP STYLES--*/
$global-all: 1rem;
$white: #fff;
$black: #222;
/*--colors setup--*/
$veitWhite: #f5f5f5;
$veitLightGrey: #e5e5e5;
$veitMediumGrey: #cacaca;
$veitDarkGrey: #555555;
$veitBlack: #333333;
$veitRed: #dc0000;
$veitBlue: #03a9f4;
$veitGreen: #8bc34a;
$veitOverlay: rgba(0,0,0,0.5);