﻿@import 'colors';
$global-all: 1rem;

.homepage .column.main-content {
    padding: 0;
}

.homepage section {
    min-height: 80vh;
    padding: 0 1rem 4rem; 
    background-position: center center;
    background-size: cover;
    @media screen and (min-width: 1280px) {
        padding: 0 0 4rem; 
    }
    @media screen and (max-width: 768px) {
        background-image: none;
    }
    &:nth-child(2n + 1) {
    color: $veitBlack;
    background-color: $white;
    }
    &:nth-child(2n) {
    color: $white;
    background-color: $veitBlack;
        & p a {
            color: $veitRed;
            font-weight: 600;
        }
    }
    &:last-of-type {
        color: $white;
        background-color: $black;
        & label {
            color: $white;
        }
    }
    & .row:first-child {
        padding-top: 4rem;
    }
    p {
        font-size: 1rem;
    }
}
.section-image {
    margin-bottom: 2rem;
}   
.footer {
    background-color: #000;
    color: #888;
    font-size: 0.8rem;
    padding: 0 1rem; 
    @media screen and (min-width: 1280px) {
        padding: 0; 
    }

    .social a {
        color: $veitDarkGrey;
        text-align: center;
        font-size: 1rem;
        &:hover {
            color: $veitRed;
        }
        .fa {
            margin: 0;
        }
    }
    span {
        padding-top: 0.8rem;
        display:inline-block;
    }
    &-link {
        font-weight: bold;
    }
}

h {
    &1, &2 {
    font-weight: 700;
    letter-spacing: -3px;
    position: relative;
    .homepage & {
        padding: 0;
        margin: 0 0 1rem;
        }
    }
    &1 {
        font-size: 3rem;
        .homepage & span {
            color: $veitRed;
        }
    }
    &2 {
        font-size: 2.4rem;
        & span {
            color: $veitRed;
        }
    }
    &3 {
        font-weight: 400;
    }
}
.contact {
    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    background: none;
    border: 0;
    border-bottom: 2px solid $veitDarkGrey;
    border-right: 1px solid $veitDarkGrey;
    padding-left: 0;
    color: $veitMediumGrey;
    overflow:hidden;
        &:focus {
            color: $white;
            border-color: $white;
        }
    }
}
.draft-photo {
    min-height: 60vh;
    min-width: 80%;
    background: rgba(255,255,255,0.2);
    border: 1px solid $white;
    text-align: center;
    line-height: 150px;
    margin: auto;
    margin-bottom: 2rem;
}
.bat3-logo {
    height: 150px;
    min-height: 150px;
    width: 300px;
    min-width: 300px;
    margin: 0;
    margin-bottom: 2rem;
}
.veit-plus {
    position: relative;
    top: 1px;
    margin-right: 0.5rem;
}

/*--HOME SECTION--*/

section.section-1 {
    background-image: url('../images/chickens-bg.jpg') !important;
    & h2 {
        font-weight: 300;
        margin-bottom: 2rem;
    }
}

/*--WORLD APP SECTION 3--*/

section.section-3 {
    background-image: url('../images/world-bg.jpg');
    background-position: center bottom;
}

/*--PRICING SECTION 5--*/

section.section-5 {
    background-image: url('../images/pricing-bg2.jpg');
    background-position: center bottom;
    .columns {
      float: none;
      vertical-align: bottom;
      display: inline-block;
      &.medium-4 {
        @media screen and (min-width: 48em){       
            width: 32.9%;
        }
      }
    }
}

$pricing-overlayer: rgba(0,0,0,0.15);
 
.pricing-table {
  color: $white;
  opacity: 0.8;
  &.first {
    background-color: #888;
    background-color: $veitBlue;
  }
  &.second {
    background-color: $veitDarkGrey;
    background-color: $veitGreen;
  }
  &.third {
    background-color: $black;
    /*color: rgba(255, 214, 0, 0.75);*/
  }

  li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-size: 0.75rem;
    padding: 0.6rem 1.2rem;
    &:first-child {
      background-color: $pricing-overlayer;
    }
    &:last-child {
      background-color: $pricing-overlayer;
      border-bottom: 0;
    }
  }

  .title {
    border-bottom: 0;
    & h3 {
        font-size: 1.6rem;
        letter-spacing: -1px;
        margin: 0;
    }   
  }
  .price {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.4rem;
    border-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: $pricing-overlayer;
    sup {
        font-size: 1.05rem;
    }
    .fa {
        display: inline;
        font-size: 0.8rem;
    }
  }
  .description {
    font-size: 0.625rem;
  }
  .button {
    margin: 0;
  }
  .fa {
      display: block;
      font-size: 1.6rem;
      color: $veitWhite;
  }
}