@import 'colors';
$global-all: 1rem;

/*--ORDERS MAIN PAGE--*/

$footer-height: 40px;

.title-bar-title {
    width: calc(100% - 2.5rem - 1px);
}
.orders .veit-dot.small {
    height: 1.5rem;
    width: 1.5rem;
}
.main-content {
    padding: 0;

    .contact & {
        background-color:$veitBlack;
        background-image: url('/Content/images/bg2.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        color: $white;

        p a {
            color: $veitRed;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 767px) {
    background-image: none;
    }
}
.main-content-wrap,
.main-content > div {
    min-height: calc(100% - #{$footer-height} - 1px);




    @media screen and (min-width: 641px) {
        padding: 2rem;
        padding-top: 1rem;

    }
    @media screen and (min-width: 1024px) {
        padding: 1rem;
        padding-top: 1rem;

    }
    @media screen and (max-width: 640px) {
        padding: 1rem;
    }
}
.section {
    background: none;
}
.footer {
    height: $footer-height;
    width: 100%;
    left: 0;
    bottom: 0;
    position: relative;
    &:after,
    &:before {
        content: '';
        display: block;
        position:absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: $black;
    }
    &:before {
        left: -50%;
    }
    &:after {
        right: -50%;
    }
    span {
        padding-top: 0.6rem;
    }

}
.order-list {
    margin: 0;
}
.order-item {
    list-style: none;
    line-height: $global-all;
    display: table;
    width: 100%;
    position: relative;
    &.even {
        background-color: $veitLightGrey;
    }

    & .column {
        padding: 0.5*$global-all;
    }
    & .first-line {
        @media screen and (max-width: 640px) {
        display: table;
        width: 100%;
        }
    }
    &:after,
    &:before {
        display: none;
        content: '';
        position: absolute;
        height: 100%;
        width: 5px;
        background-color: $veitMediumGrey;
        top: 0;
        left: 0;
    }
    &:after {
        left: calc(100% - 5px);
    }
    &:hover {
        &:after,
        &:before {
        display: block;
        }
    }
    &-index {
        background-color: $veitRed;
        color: $white;
        padding: 0 (0.4*$global-all) 0 (0.25*$global-all);
        font-size: 0.8rem;
        position: relative;
        left: -0.5*$global-all;
        margin-right: -0.25*$global-all;
    }
    &-name {
        letter-spacing: -1px;
        font-weight: 400;
    }
    &-price {
        font-weight: 400;
        text-align: right;
    }
    &-desc {
        font-size: 0.7rem;
        max-height: 100% !important;
        padding-top: 0.25rem !important;
        .even & {
            border-top: 1px solid $white;
        }
        .odd & {
            border-top: 1px solid $veitLightGrey;
        }

    }
}
.order-total {
    margin: 0 0 $global-all;
    background-color: $veitBlack;
    color: $white;
    font-weight: 400;

    & .column {
        padding: 0.5*$global-all;
    }

    &-price {
        text-align: right;
        font-size: 1.2rem;
    }
    &-heading {
        font-weight: 400;
        text-align: right;
    }
}
.order-date {
    border-bottom: 1px solid $veitLightGrey;
    margin-bottom: 1rem;

    & > span {
        float: right;
        font-weight: bold;
    }
    &-option {
        overflow: hidden;

        & label {
            font-size: 1rem;
            padding-top: 0.5rem;
        }
    }
    &-content {
        height: 0;
        overflow: hidden;

        .active & {
            height: auto;
        }
        & input[type='date'] {
            margin-bottom: 0;
        }
        & datepicker {
            margin-bottom: $global-all;
        }
        & ._720kb-datepicker-calendar._720kb-datepicker-open,
        & ._720kb-datepicker-calendar._720kb-datepicker-forced-to-open {
            position: static;
            margin: 0;
        }
    }
}
.order-form-wrap {
    float: left;
    width: 100%;
}
.order-recipient {
    border: 2px solid $veitMediumGrey;
    padding: 1rem;
    margin-bottom: $global-all;
}
