@import 'colors';
$global-all: 1rem;

/*--setup logo size--*/
$logo-size: 150px;
$logo-border-color: $veitLightGrey;

.profile-logo {
    height: $logo-size;
    border: 2px solid $logo-border-color;
    position: relative;

    .company-logo {
        height: 100%;
        width: 100%;
        min-width: $logo-size;
        margin: 0 auto;
        transition: all 0.3s ease-in-out 0s;
        position: absolute;
        overflow: hidden;
        top: 0;

        & img {
            height: 100%;
            width: 100%;
        }

        & > .over-layer {
        position: absolute;
        display: table-cell;
        width: 100%;
        height: 100%;
        top: 0;
        text-align: center;
        line-height: $logo-size;
        background-color: rgba(0,0,0,0);
        transition: background-color .2s ease-in-out;

            & > .fa {
                color: $white;
                opacity: 0;
                display: block;
                position: absolute;
                top: calc(75% - 0.9rem);
                left: calc(50% - 1rem);
                font-size: 1.8rem;
                width: 2rem;
            }
            & > span {
                color: $white;
                opacity: 0;
                font-size: 1rem;
            }
        }
        &:hover > .over-layer {
            background-color: rgba(0,0,0,0.3);

            & > .fa {
                opacity: 1;
            }
            & > span {
                opacity: 1;
            }
        }
    }
}