﻿@import 'colors';
$global-all: 1rem;

/*--setup photo size--*/
$photo-size: 50px;
$photo-sizer: 2.6;
$photo-right-margin: 15px;
$photo-big: $photo-sizer * $photo-size;
$photo-space-width: ($photo-big + $photo-right-margin);

.list-photo {
    border-radius: 50%;
    height: $photo-size;
    width: $photo-size;
    transition: all 0.3s ease-in-out 0s;/* this breaks the overflow:hidden in Chrome/Opera */
    position: absolute;
    overflow: hidden;
    top: 1px;
    left: 0.5rem;
        /* this fixes the overflow:hidden in Chrome */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    & img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $white;
                /* this fixes the overflow:hidden in Chrome */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    }

    & > div {
        position: absolute;
        display: table-cell;
        width: 100%;
        height: 100%;
        top: 0;
        text-align: center;
        line-height: $photo-big;
        background-color: rgba(0,0,0,0);
        transition: background-color .2s ease-in-out;

        & > .fa {
            color: $white;
            opacity: 0;
            display: block;
            position: absolute;
            top: calc(75% - 0.9rem);
            left: calc(50% - 1rem);
            font-size: 1.8rem;
            width: 2rem;
        }
        & > span {
            color: $white;
            opacity: 0;
            font-size: 1rem;
        }
    }

    .is-active & {

        height: $photo-big;
        width: $photo-big;
        top: $global-all;
        left: $global-all;
        transition: all 0.3s ease-in-out 0s;

        &:hover > div {
            background-color: rgba(0,0,0,0.3);

            & > .fa {
                opacity: 1;
            }
            & > span {
                opacity: 1;
            }
        }
    }
}

.list-photo-space {
    width: $photo-space-width;
    display: inline-block;
    vertical-align: top;
    margin-top: #{$photo-big - $photo-right-margin*2 - 3px};
}
.list-photo-content {
    padding-left: 0;
}
.left-side-content {
    width: calc(100% - #{$photo-space-width} - 6px - 1rem);
    display: inline-block;
    padding-left: 2rem;
}


.accordion-wrap .is-active .accordion-content {
    display: block;
    padding: 0;
    padding-bottom: 2rem;
    height: auto;
}

.accordion-content {
    padding: 0;
    display: block;
    height: 0;
    /*transition: all 0.3s ease-in-out 0s;*/
}
.accordion-title-control {
    position: relative;
    opacity: 0;
    .is-active & {
        opacity: 1;
    }
}
.accordion-content-wrap {    
    overflow: hidden;
    .is-active & {
        overflow: visible;
        min-height: 100px;
    }
}
.accordion-wrap .is-active .accordion-name {
    display: inline-block;
}
.accordion-title {
    padding: 1rem 2rem 1rem 4rem;
    z-index: 1;
    & .accordion-name {
        /*display: inline-block;*/
        padding: 0 0 0.5rem;
        position: relative;
        top: -4px;
        transition: all 0.2s ease-in-out 0.1s;
        transform: translateX(0rem);
        vertical-align: top;
    }
    & .fa {
        position: relative;
        float: left;
    }
    .is-active & {
        z-index: 0;
        & span.accordion-name {
            transform: translateX(7.3rem);
            transition: all 0.2s ease-in-out 0s;
        }
        & .fa {
            color: $white;
            margin: 0;
            left: -2.5rem;
        }
    }
}

.name-edit {
    left: 4rem;
    transition: all 0.3s ease-in-out;
    transform: translateX(0rem);
    .is-active & {
        transform: translateX(8.3rem);
    }
    
}

$photo-size-small: 2rem;

.list-photo-small {
    position: relative;
    top: -0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: $photo-size-small;
    height: $photo-size-small;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.25rem;

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}