

<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="OrdersApp">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="" />

   <title>Contact | </title>
   <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Oswald:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

   <link href="/font-awesome/font-awesome.css" rel="stylesheet" />
   <link href="site.css" rel="stylesheet"/>

   <script src="/js/modernizr.js"></script>
</head>
<body class="contact" ng-cloak>
    <div>
        <div class="off-canvas-wrapper" disable-auto-close="true">
            <div class="off-canvas-wrapper-inner " ng-class="{ 'is-off-canvas-open is-open-right': showSubmenu }">
                <!-- off-canvas title bar for 'small' screen -->
                <div class="title-bar hide-for-medium veitRed-bg">
                    <div class="title-bar-left toggle-menu">
                        <a class="left-off-canvas-toggle menu-icon" href="" type="button" ng-click="showSubmenu = false"></a>
                    </div>
                    <div class="title-bar-title" ng-class="{active : editingDeviceName}">


<i class="fa fa-calendar-check-o"></i>
    {{orderId}} Confirmation


                    </div>

                    <div class="clear"></div>
                    <div class="edit-menu" ng-class="{active: showSubmenu}">


                    </div>
                    <div class="clear"></div>
                </div>

                <!-- "wider" top-bar menu for 'medium' and up -->
                <div class="sticky-container show-for-medium">
                    <div id="widemenu" class="top-bar sticky container">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" dropdown-menu>
                                <li class="toggle-menu show-for-small-only">
                                    <a class="left-off-canvas-toggle menu-icon" href="" type="button" veit-toggle-menu></a>
                                </li>
                                <li class="menu-logo hide-for-small-only">
                                    <a class="veit-logo" href="/"><img class="veit-logo" width="150" height="65" src="/images/VEIT_logo_150.svg" />
</a>
                                </li>

<li class="">
    <a href="/">
        <i class=" fa fa-calendar-check-o fa-fw fa-lg"></i>Orders
    </a>
</li>
<li class="active">
    <a href="/Home/Contact">
        <i class="fa fa-paper-plane fa-fw fa-lg"></i>Contact
    </a>
</li>


                            </ul>

                        </div>
                        <div class="top-bar-right">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- original content goes in this container -->
                <div class="off-canvas-content container body-content">

                    <div class="column main-content">





<div class="contact">
    <div class="row">
        <div class="adress medium-6 columns" itemscope itemtype="http://schema.org/LocalBusiness">
            <h2>
                <img src="/images/veit_plus.svg" class="veit-plus" />

                VEIT Electronics
            </h2>
            <hr />
            <h3>Come to visit us</h3>
            <p>
                <adress><span itemprop="name">VEIT Electronics</span><br>Modřická 52<br>644 48 Moravany<br>Czech Republic</adress>
            </p>
            <p>
                <adress><strong>GPS:</strong> 49.145258, 16.586535</adress>
            </p>
            <p>
                <adress><strong>Business hours:</strong> working days 7:00 – 15:30</adress>
            </p>
            <p>
                <adress><strong>tel: <a href="tel:+420 545 235 252" target="_blank">+420 545 235 252</a></strong></adress><br>
                <strong>e-mail: <a href="mailto:info@veit.cz" target="_blank">info@veit.cz</strong></a>
            </p>
        </div>
        <div class="gmap medium-6 columns">
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2609.909894379233!2d16.584707615889172!3d49.145335188413334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712bfd52da8bb59%3A0x748f6422c0fb4338!2sVEIT+Electronics!5e0!3m2!1scs!2scz!4v1471954292493" width="100%" height="330" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="contact-text medium-6 columns">
            <h3>Be in touch with us</h3>
            <p>Follow us on social sites or send an e-mail to us.</p>
            <ul class="menu social">
                <li><a href="#"><i class="fa fa-facebook fa-2x veitRed"></i>Facebook</a></li>
                <li><a href="#"><i class="fa fa-google fa-2x veitRed"></i>Google</a></li>
                <li><a href="#"><i class="fa fa-twitter fa-2x veitRed"></i> Twitter</a></li>
                <li><a href="#"><i class="fa fa-linkedin fa-2x veitRed"></i> Linked In</a></li>
            </ul>
        </div>
        <div class="contact-form medium-6 columns">
            <div class="input-group">

                <input type="text" placeholder="Name" aria-labelledby="contact_form_name">


                <input type="email" placeholder="E-mail" aria-labelledby="contact_form_email">


                <textarea placeholder="What do you want to tell us?" aria-labelledby="contact_form_message"></textarea>

                <button class="button expanded send-form"><i class="fa fa-paper-plane"></i> Submit</button>

            </div>
        </div>
    </div>
</div>




<footer class="footer">

    <div class="row">
        <div class="column tiny-6">
            <span>
                &copy; 2017 – <a href="http://www.veit.cz" target="_blank" class="footer-link">VEIT Electronics</a>
            </span>
        </div>
        <div class="column tiny-6 ">
            <ul class="menu social align-right">
                <li><a href="https://www.facebook.com/veit.cz/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=3LNSLKfmRxc" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://twitter.com/VeitElectronics" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="show-for-medium">
                    <span>Connect with us</span>
                </li>
            </ul>
        </div>
    </div>
</footer>
                        <div id="content-loader" class="loading hidden">
    <div class="loader">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
            <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
            <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
                <animateTransform attributeType="xml"
                                  attributeName="transform"
                                  type="rotate"
                                  from="0 20 20"
                                  to="360 20 20"
                                  dur="0.5s"
                                  repeatCount="indefinite"/>
            </path>
        </svg>
    </div>
</div>

                    </div>

                    <!-- close wrapper, no more content after this -->
                </div>
            </div>
        </div>
    </div>

    <script src="/js/libs.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
