<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="OrdersApp">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <title>VEIT Orders | Manage and confirm your orders.</title>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Oswald:400,700&subset=latin,latin-ext' rel='stylesheet'
        type='text/css'>

    <link href="/font-awesome/font-awesome.css" rel="stylesheet" />
    <link href="site.css" rel="stylesheet" />

    <script src="/js/modernizr.js"></script>
</head>

<body class="" ng-cloak>
    <div  ng-controller="ordersCtrl">
        <div class="off-canvas-wrapper" disable-auto-close="true">
            <div class="off-canvas-wrapper-inner " ng-class="{ 'is-off-canvas-open is-open-right': showSubmenu }">
                <!-- off-canvas title bar for 'small' screen -->
                <div class="title-bar hide-for-medium veitRed-bg">
                    <div class="title-bar-left toggle-menu">
                        <a class="left-off-canvas-toggle menu-icon" href="" type="button" ng-click="showSubmenu = false"></a>
                    </div>
                    <div class="title-bar-title" ng-class="{active : editingDeviceName}">
                        <i class="fa fa-calendar-check-o"></i> {{orderId}} {{ 'CONFIRMATION' | translate }}
                    </div>
                    <div class="clear"></div>
                    <div class="edit-menu" ng-class="{active: showSubmenu}">
                    </div>
                    <div class="clear"></div>
                </div>

                <!-- "wider" top-bar menu for 'medium' and up -->
                <div class="sticky-container show-for-medium">
                    <div id="widemenu" class="top-bar sticky container">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" dropdown-menu>
                                <li class="toggle-menu show-for-small-only">
                                    <a class="left-off-canvas-toggle menu-icon" href="" type="button" veit-toggle-menu></a>
                                </li>
                                <li class="menu-logo hide-for-small-only">
                                    <a class="veit-logo" href="#"><img class="veit-logo" width="150" height="65" src="/images/VEIT_logo_150.svg" />
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <i class=" fa fa-calendar-check-o fa-fw fa-lg"></i>{{ 'ORDERS' | translate }}
                                    </a>
                                </li>
                                <!--
                                <li class="">
                                    <a href="/contacs.html">
                                        <i class="fa fa-paper-plane fa-fw fa-lg"></i>Contact
                                    </a>
                                </li>
                                -->
                            </ul>
                        </div>
                        <div class="top-bar-right">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- original content goes in this container -->
                <div class="off-canvas-content container body-content">
                    <div class="column main-content">
                        <div id="content-loader" class="orders main-content-wrap loader" ng-if="loading==true">
                        </div>
                        <div id="orders" class="orders main-content-wrap" ng-if="loading!=true">
                            <h1 class="show-for-medium">
                                <div ng-if="orderId!=null && !fetching"><i class="fa fa-calendar-check-o"></i> {{orderId}} {{ 'CONFIRMATION' | translate }}</div>
                                <div ng-if="orderId==null && !fetching && !fetchingTrouble"><i class="fa fa-calendar-check-o"></i> {{urlOrderId}} - {{ 'INVALID_ORDER_NO' | translate }}</div>
                                <div ng-if="orderId==null && !fetching && fetchingTrouble"><i class="fa fa-calendar-check-o"></i> {{ 'FETCHING_TROUBLE' | translate }}</div>
                            </h1>
                            <div class="liner show-for-medium"></div>
                            <div ng-if="orderId!=null && !fetching">
                                <section class="identification row">
                                    <div class="columns small-12 medium-7 large-7">
                                        <label>
                                            <i class="fa fa-building"></i>
                                            {{ 'COMPANY' | translate }}
                                        </label>
                                        <div class="order-recipient">
                                            <h3>{{company.name}}</h3>
                                            <div>{{company.address}}</div>
                                            <div>{{company.postal}}</div>
                                            <br/>
                                            <div>{{company.vac}}</div>
                                        </div>
                                    </div>
                                    <div class="columns small-12 medium-5 large-5">
                                        <label>
                                            <i class="fa fa-building"></i>
                                            {{ 'DELIVERY_ADDRESS' | translate }}
                                        </label>
                                        <div class="order-recipient">
                                            <h3>{{client.name}}</h3>
                                            <div>{{client.street}}</div>
                                            <div>{{client.postal}}, {{client.city}}</div>
                                            <div>{{client.country}}</div>
                                        </div>
                                    </div>
                                </section>
                                <section class="confirmation row">
                                    <div class="columns tiny-12 clearfix">

                                        <div class="liner small"></div>
                                        <h3 class="order-date"><i class="fa fa-truck veitRed"></i> {{ 'DELIVERY_DATE' | translate }}: <span><i class="fa fa-calendar-check-o veitRed"></i> {{orderDate | date: orderDateFormat}}</span></h3>

                                    </div>
                                    <div class="order-form-wrap">
                                        <form action="/" method="post">
                                            <div class="order-date-option radio-wrap active" ng-if="showButtons" ng-class="{active : activeState === 'NoChanges'}">
                                                <div class="order-date-content column tiny-12 small-12 medium-12">
                                                    <button ng-if="!isConfirming && !isConfirmed && !confirmError" class="order-confirm button large expanded success" ng-click="confirmOrder($event)">
                                                        <i class="fa fa-check fa-lg"></i>
                                                        {{ 'CONFIRM_ORDER' | translate }}
                                                    </button>
                                                    <div ng-if="isConfirming && !isConfirmed" class="order-confirm text-center large expanded primary disabled">
                                                        <i class="fa fa-spinner fa-lg"></i> {{ 'CONFIRMING_ORDER' | translate
                                                        }}
                                                    </div>
                                                    <div ng-if="!isConfirming && isConfirmed" class="text-center column tiny-12 small-12 medium-12 large expanded success">
                                                        <i class="fa fa-check fa-lg"></i> {{ 'ORDER_CONFIRMED_SUCCESSFULLY' |
                                                        translate }}
                                                    </div>
                                                    <div ng-if="confirmError" class="order-confirm button large expanded alert disabled">
                                                        <i class="fa fa-exclamation-triangle fa-lg"></i> {{confirmError}}
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                                <section class="order-items row clearfix">
                                    <div class="columns tiny-12">
                                        <h2>
                                            <img src="/images/list-style.svg" class="veit-dot small"> {{ 'ORDERED_ITEMS' | translate
                                            }}
                                        </h2>
                                        <div class="liner small"></div>
                                    </div>
                                    <div class="columns tiny-12">
                                        <button ng-click="showItems=true" class="order-confirm button large expanded success" ng-class="{ 'hidden': showItems }"><i class="fa fa-chevron-circle-down fa-lg" aria-hidden="true"></i> {{ 'SHOW_ITEMS' | translate }}</button>
                                        <div ng-class="{ 'hidden': !showItems }">
                                            <div>
                                                <div class="order-item-name columns tiny-12 small-12 medium-4">{{ 'NAME' | translate }}</div>
                                                <div class="order-item-count columns tiny-2 small-2 medium-1">{{ 'AMOUNT' | translate }}</div>
                                                <div class="order-item-price columns tiny-3 small-2 medium-2">{{ 'UNIT_PRICE' | translate }}</div>
                                                <div class="order-item-price columns tiny-3 small-2 medium-2">{{ 'PRICE_WOUT_VAT' | translate }}</div>
                                                <div class="order-item-price columns tiny-1 small-2 medium-1">{{ 'VAT' | translate }}</div>
                                                <div class="order-item-price columns tiny-3 small-2 medium-2">{{ 'DELIVERY_DATE' | translate }}</div>
                                            </div>
                                            <ul class="order-list">
                                                <li class="order-item clearfix" ng-repeat="orderItem in itemsInOrder" ng-class-odd="'odd'" ng-class-even="'even'">
                                                    <div class="first-line">
                                                        <div class="order-item-name columns tiny-12 small-12 medium-4">
                                                            <span class="order-item-index">{{orderItem.position}}</span> {{orderItem.name}}
                                                        </div>
                                                        <div class="order-item-count columns tiny-2 small-2 medium-1">
                                                            {{orderItem.quantity}} {{ 'PCS' | translate }}
                                                        </div>
                                                        <div class="order-item-price columns tiny-3 small-2 medium-2">
                                                            <abbr title="{{ 'UNIT_PRICE' | translate }}">{{orderItem.unitPrice}} {{orderPriceUnit}}</abbr>
                                                        </div>
                                                        <div class="order-item-price columns tiny-3 small-2 medium-2">
                                                            <abbr title="{{ 'PRICE_WOUT_VAT' | translate }}">{{orderItem.totalPriceWithoutVat}} {{orderPriceUnit}}</abbr>
                                                        </div>
                                                        <div class="order-item-price columns tiny-1 small-2 medium-1">
                                                            <abbr title="{{ 'VAT' | translate }}">{{orderItem.vatRatePercent}}%</abbr>
                                                        </div>
                                                        <div class="order-item-price columns tiny-3 small-2 medium-2">
                                                            <abbr title="{{ 'DELIVERY_DATE' | translate }}">{{orderItem.deliveryDate | date: orderDateFormat}}</abbr>
                                                        </div>
                                                    </div>
                                                    <div class="order-item-desc columns tiny-12 small-12 medium-12">
                                                        {{orderItem.description}}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix">
                                            <div class="order-total-price columns tiny-6">
                                                &nbsp;
                                            </div>
                                            <div class="order-total-heading columns tiny-2">
                                                {{ 'PRICE_WOUT_VAT' | translate }}
                                            </div>
                                            <div class="order-total-heading columns tiny-2">
                                                {{ 'VAT' | translate }}
                                            </div>
                                            <div class="order-total-heading columns tiny-2">
                                                {{ 'TOTAL' | translate }}
                                            </div>
                                        </div>
                                        <div class="order-total clearfix">
                                            <div class="order-total-name columns tiny-6">
                                                {{ 'ORDER_TOTAL' | translate }}
                                            </div>
                                            <div class="order-total-price columns tiny-2">
                                                {{priceWithoutVat}} {{orderPriceUnit}}
                                            </div>
                                            <div class="order-total-price columns tiny-2">
                                                {{priceVat}} {{orderPriceUnit}}
                                            </div>
                                            <div class="order-total-price columns tiny-2">
                                                {{priceWithVat}} {{orderPriceUnit}}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="order-footer row">
                                    <div class="columns tiny-12 clearfix">
                                        <div class="liner small"></div>
                                        <p class="text-center">{{ 'END_OF_ORDER_ID' | translate }}: #{{orderId}}</p>
                                    </div>
                                </section>
                            </div>
                        </div>

                        <footer class="footer">
                            <div class="row">
                                <div class="column tiny-6">
                                    <span>
                &copy; 2017 – <a href="http://www.veit.cz" target="_blank" class="footer-link">VEIT Electronics</a>
            </span>
                                </div>
                                <div class="column tiny-6 ">
                                    <ul class="menu social align-right">
                                        <li><a href="https://www.facebook.com/veit.cz/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.youtube.com/watch?v=3LNSLKfmRxc" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="https://twitter.com/VeitElectronics" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="show-for-medium">
                                            <span>Connect with us</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </footer>
                        <div id="content-loader" class="loading" ng-class="{hidden:fetching==false}">
                            <div class="loader">
                                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                    <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                                    <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
                                        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite"
                                        />
                                    </path>
                                </svg>
                            </div>
                        </div>

                    </div>

                    <!-- close wrapper, no more content after this -->
                </div>
            </div>
        </div>
    </div>

    <script src="/js/libs.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>